# Firebase Android
FIREBASE_ANDROID_API_KEY=your_android_api_key
FIREBASE_ANDROID_APP_ID=your_android_app_id

# Firebase iOS
FIREBASE_IOS_API_KEY=your_ios_api_key
FIREBASE_IOS_APP_ID=your_ios_app_id
FIREBASE_IOS_BUNDLE_ID=com.example.careeriq

# Firebase Common
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# AI Keys
GEMINI_API_KEY=your_gemini_api_key

# Google Sign In
GOOGLE_SERVER_CLIENT_ID=your_web_client_id.apps.googleusercontent.com

# RapidAPI
RAPIDAPI_KEY=your_rapidapi_key

# Twilio
TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_sender_number_here
